{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/homepage.css") }}">
    <style>
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
        }

        #customerror {
            position: relative;
            height: 80vh;
        }

        #customerror .customerror {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .customerror {
            max-width: 520px;
            width: 100%;
            line-height: 1.4;
            text-align: center;
        }

        .customerror .customerror-custom {
            position: relative;
            height: 240px;
        }

        .customerror .customerror-custom h1 {
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 252px;
            font-weight: 900;
            color: #262626;
            text-transform: uppercase;
            letter-spacing: -40px;
            margin: 0 0 0 -20px;
        }

        .customerror .customerror-custom h1 > span {
            text-shadow: -8px 0 0 #fff;
        }

        .customerror .customerror-custom h3 {
            font-family: 'Cabin', sans-serif;
            position: relative;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: #262626;
            margin: 0;
            letter-spacing: 3px;
            padding-left: 6px;
        }

        .customerror h2 {
            font-family: 'Cabin', sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: #000;
            margin-top: 0;
            margin-bottom: 25px;
        }

        @media only screen and (max-width: 767px) {
            .customerror .customerror-custom {
                height: 200px;
            }

            .customerror .customerror-custom h1 {
                font-size: 200px;
            }
        }

        @media only screen and (max-width: 480px) {
            .customerror .customerror-custom {
                height: 162px;
            }

            .customerror .customerror-custom h1 {
                font-size: 162px;
                height: 150px;
                line-height: 162px;
            }

            .customerror h2 {
                font-size: 16px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div id="customerror">
        <div class="customerror">
            <div class="customerror-custom">
                <h3>Unexpected status codes</h3>
                <h1><span></span><span></span><span></span></h1>
            </div>
            <h2>we are sorry, but the page you requested was not found</h2>
        </div>
    </div>
{% endblock %}

